<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAR STYLE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
</head>

<body>
    
    <section id="header">
        <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvlxBfJtqbKtH3iD__m8tROuXvCPvGJPZBAg&usqp=CAU" class="logo" alt="" width="150" height="60"></a>
        
        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a class="active.html" href="contact">Contact</a></li>
                <li><a href="cart.html"><i class="fa fa-shopping-bag"></i></a></li>
                <li><a href="register.html"><i class="fa fa-user-secret"></i></a></li>
            </ul>
    </section>
    
    <section id="page-header" class="about-header">
        <h2>#Let's_talk</h2>
        <p>LEAVE A MESSAGE, We love to hear from you!</p>
    </section>
    
    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Contact Us</h2>
            <h3>Ready to help 24/7</h3>
            <div>
                <li>
                    <i class="fa fa-map"></i>
                    <p>ANGEL College of Engineering and Technology, Tiruppur</p>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <p>**********</p>
                </li>
                <li>
                    <i class="fa fa-square"></i>
                    <p>starstylefashion@gmail.com</p>
                </li>
                <li>
                    <i class="fa fa-circle"></i>
                    <p>24/7</p>
                </li>
            </div>
        </div>
    
    </section>
    
    <section id="form-details">
        <form action="">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submit</button><br><br>
        </form>
        
        <div class="people">
            <div>
                <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.jpg" alt="">
                <p><span>Sobiya s</span> Team Leader <br> E-mail:sobiyasobi723@gmail.com</p>
                <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.jpg" alt="">
                <p><span>Mayavathi N</span> Team Member <br> E-mail:gnmnagaraj@gmail.com</p>  
                <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.jpg" alt="">
                <p><span>Elakkiya R</span> Team Member <br> E-mail:elakkielakkiya123@gmail.com</p>  
                <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.jpg" alt="">
                <p><span>Gobinath S</span> Team Member <br> E-mail:gobinath739mnck@gmail.com</p>     
            </div>
        </div>
    </section>
    
       
       <section id="newsletter" class="section-p1">
           <div class="newstext">
               <h4>Sign up for NewsLetters</h4>
               <p>Get Email updates about our latest shop and <span>special offer</span>
               </p>
           </div>
           <div class="form">
               <input type="text" placeholder="Your E-mail Address">
               <button class="normal">Sign Up</button>
               
           </div>
       </section>
    
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvlxBfJtqbKtH3iD__m8tROuXvCPvGJPZBAg&usqp=CAU" alt="" width="200" height="100">
            <h4>Contact</h4>
            <p><strong>E-Mail: </strong>starstylefashion@gmail.com</p>
            <p><strong>Phone: </strong>134567890</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fa fa-facebook-f"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-pinterest-p"></i>
                    <i class="fa fa-youtube"></i>
                </div>
            </div>
        </div>
        
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Tearms & Conditions</a>
            <a href="#">Contact us</a>
        </div>
        
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track my order</a>
            <a href="#">Help</a>
        </div>
        <script>
  window.watsonAssistantChatOptions = {
    integrationID: "aa99a301-b475-445f-abd0-fdd24aaaa3ba", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "ee939ca8-d347-49ac-b265-1de85a2c8769", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
    </footer>
          <div class="copyright">
              <center><p> C 2022, PNT2022TMID42359 - Smart Fashion Recommender Application </p></center>
          </div>
          
    
    
    
    <script src="script.js"></script>
    
</body>

</html>